In [21]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [22]:
US_hiv = pd.read_csv("GeographyChartData-Top10-HIV-State-2017.csv", header = 4)
US_hiv.head()

       Indicator   Geography  Cases  Rate per 100000  Population
0  HIV diagnoses     Alabama    653             15.9   4,094,359
1  HIV diagnoses      Alaska     29              4.8     603,606
2  HIV diagnoses     Arizona    764             13.1   5,845,218
3  HIV diagnoses    Arkansas    290             11.6   2,497,198
4  HIV diagnoses  California  4,495             13.6  33,015,467

In [23]:
US_2017 = US_hiv[["Geography", "Rate per 100000"]]

In [24]:
US_2017.columns = ["Geography", "Rate"]
US_2017 = US_2017.set_index("Geography")

In [25]:
US_2017.head()
US_2017.to_csv("US_incidence_2017.csv")

In [26]:
bottom_10 = US_hiv.sort_values(by = "Rate per 100000").head(10)

In [27]:
bottom_10 = bottom_10[["Geography", "Rate per 100000"]]
bottom_10 = bottom_10.set_index("Geography")

In [28]:
bottom_10

                          Rate per 100000
Geography
Northern Mariana Islands              0.0
American Samoa                        0.0
Wyoming                               2.1
Maine                                 2.5
New Hampshire                         2.9
Idaho                                 3.3
Vermont                               3.5
Montana                               3.6
Guam                                  4.7
Utah                                  4.8

In [29]:
bottom_10.columns = ["Rate"]
bottom_10

                          Rate
Geography
Northern Mariana Islands   0.0
American Samoa             0.0
Wyoming                    2.1
Maine                      2.5
New Hampshire              2.9
Idaho                      3.3
Vermont                    3.5
Montana                    3.6
Guam                       4.7
Utah                       4.8

In [30]:
top_10 = US_hiv.sort_values(by = "Rate per 100000").tail(10)

In [31]:
top_10 = top_10[["Geography", "Rate per 100000"]]
top_10 = top_10.set_index("Geography")

In [32]:
top_10.columns = ["Rate"]

In [33]:
top_10.to_csv("US_incidence_2017_top.csv")

In [34]:
bottom_10.to_csv("US_incidence_2017_bottom.csv")